*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #16cb2a;
  overscroll-behavior-y: none;
  font-family: "Source Code Pro", monospace;
}

nav li {
  padding: 1rem;
}

h2 {
  padding: 1rem;
  max-width: 30rem;
}

a,
a:visited {
  color: inherit;
}

a + a {
  text-decoration: none;
  cursor: crosshair;
}

.link-wrapper {
  display: flex;
  gap: 0.5ch;
  color: blue;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.cover {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16cb2a;
  z-index: 100;
}

@media (max-width: 768px) {
  .cover {
    display: flex;
  }
}

.container {
  margin-bottom: 30rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.grid__item {
}

.grid__item .image {
  position: sticky;
  top: 0;
}
